@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;600&display=swap');

:root {
  --color-white: #ffffff;
  --color-text: #717171;
  --color-gray: rgba(113, 113, 113, 1);
  --color-primary-100: #f4f2ff;
  --color-primary-200: rgba(236, 236, 236, 1);
  --color-primary-400: #695ccd;
  --color-primary-700: #1f1283;
  --color-primary-800: #1c1930;
  --color-secondary: rgba(255, 178, 61, 1);
  --color-danger: rgba(196, 0, 0, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-primary-100);
  line-height: 1.6;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: calc(100% - 42px);
  margin: 60px auto;
}
